<h1><%= @movie.title %></h1>
<p>Created in: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<h2>Actors in this Movie</h2>
<ul>
<% @movie.actors_by_age.each do |actor| %>
  <li><%= actor.name %> (<%= actor.age %>)</li>
<% end %>
</ul>
Average Age of Actors: <%= @movie.average_age %>
